body {
    
}

#banner {
    text-align: center;
}

#banner-logo {
    width: 200px;
	height: 120px;
}

#pages-tab {
    text-align: center;
}

#content {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    /* temporary spacing paradigm,
    should be removed upon finalizing
    design */
    margin-top: 28px;

    padding-top: 0px;
	padding-bottom: 70px;
}

#welcome-panel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

@media(max-width: 900px) {
    #welcome-panel {
        grid-template-columns: none;
		gap: 10px;
    }
}

#club-intro {
    background-color: blue;
}

#join-portal {
    display: grid;
	grid-template-rows: 1fr 1fr;
}

#join-links-box {
	background-color: red;
}

#newsletter-box {
	background-color: tomato;
}

#active-projects {
    background-color: yellow;
	display: grid;
	justify-content: center;
	text-align: center;
	padding: 30px;
}

#project-grid {
	display: grid;
	gap: 20px;
}

.project-card {
	background-color: #ffffff;
	border-radius: 14px;
	width: 320px;
	height: 200px;
	text-align: left;
	position: relative;
}

.project-entry {
	padding: 10px;
	position: relative;
}

.project-link {
	display: inline-block;     
	position: relative;    
	z-index: 1;     
	padding: 1.1em;     
	margin: -1.1em;
	text-decoration: none;
	color: black;
	display: block;
	padding-bottom: 60px;;
}

.project-title-box {
	display: inline-block;
}

.link-logo {
	width: 22px;
	height: 22px;
	position: absolute;
}

.project-title {
	padding-top: 10px;
}

.project-desc {

}

.tag-wrapper {
	position: absolute;
	bottom: 15px;
	left: 10px;
}

.project-tag {
	padding: 3px;
	border: #399cdb solid 1px;
	color: #399cdb;
	border-radius: 8px;
	font-size: 13px;
}

@media(min-width: 860px) {
	#project-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(min-width: 1280px) {
	#project-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

#news {
    background-color: green;
	text-align: center;
}

#news-entry {

}

#footer {
    background-color: purple;
}