body {
    
}

#banner {
    text-align: center;
}

#banner-logo {
    
}

#pages-tab {
    text-align: center;
}

#content {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;

    /* temporary spacing paradigm,
    should be removed upon finalizing
    design */
    margin-top: 28px;

    padding-top: 0px;
	padding-bottom: 70px;
}

#welcome-panel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 20px;
}

@media only screen and (max-width: 900px) {
    #welcome-panel {
        display: inline-block;
    }
}

#club-intro {
    background-color: blue;
}

#join-portal {
    background-color: red;
}

#active-projects {
    background-color: yellow;
}

#project-entry {

}

#news {
    background-color: green;
}

#news-entry {

}

#footer {
    background-color: purple;
}